*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(32, 89, 194), 5%,#6495ED, 90%, white 100%);
}

body::-webkit-scrollbar{
  width: 0 !important;
}

.projects{
  position: absolute;
  transform: translate(-50%, -50%);
}

a{
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 4px;
  color: rgb(106,153,237);
  border-radius: 50px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  padding: 15px;
  margin: 5px;
  border-spacing: 5px;
}

a:hover{
  animation: text-emphasis 1s ease forwards;
}


.resume{
  position: absolute;
  transform: translate(-50%, -50%);
}

.research{
  position: absolute;
  transform: translate(-50%, -50%);
}

.packages{
  position: absolute;
  transform: translate(-50%, -50%);
}

.packages p{
  font-weight: bold;
  color: rgb(106,153,237);
}

#desktop-background{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#widescreen-background{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: -1;
}

#tablet-background{
  display: none;
  z-index: -1;
}

#mobile-background{
  display: none;
  z-index: -1;
}

@keyframes line-anim{
  to{
    stroke-dashoffset: 0;
  }
}

@keyframes fade-in{
  to{
    opacity: 1;
  }
}

@keyframes text-emphasis{
  to{
    font-size: 30px;
    color: white;
    background-color: rgb(106,153,237);
  }
}

@media screen and (max-width: 1300px){
  #desktop-background{
    display: none;
  }
  #tablet-background{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
  }
}

@media screen and (max-width: 800px){
  #tablet-background{
    display: none;
  }
  #mobile-background{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
}

/*WARNING: Here be CSS animation....*/

#desktop-background line:nth-child(1){
  stroke-dasharray: 40.607879638671875px;
  stroke-dashoffset: 40.607879638671875px;
  animation: line-anim 2s ease forwards;
}

#desktop-background line:nth-child(2){
  stroke-dasharray: 142px;
  stroke-dashoffset: 142px;
  animation: line-anim 2s ease forwards;
}

#desktop-background line:nth-child(3){
  stroke-dasharray: 142px;
  stroke-dashoffset: 142px;
  animation: line-anim 2s ease forwards;
}

#desktop-background line:nth-child(4){
  stroke-dasharray: 179px;
  stroke-dashoffset: 179px;
  animation: line-anim 2s ease forwards;
}

#desktop-background line:nth-child(5){
  stroke-dasharray: 40.607879638671875px;
  stroke-dashoffset: 40.607879638671875px;
  animation: line-anim 2s ease forwards;
}

#desktop-background line:nth-child(6){
  stroke-dasharray: 142px;
  stroke-dashoffset: 142px;
  animation: line-anim 2s ease forwards;
}

#desktop-background line:nth-child(7){
  stroke-dasharray: 40.6078987121582px;
  stroke-dashoffset: 40.6078987121582px;
  animation: line-anim 2s ease forwards;
}

#desktop-background line:nth-child(8){
  stroke-dasharray: 142px;
  stroke-dashoffset: 142px;
  animation: line-anim 2s ease forwards;
}

#desktop-background line:nth-child(9){
  stroke-dasharray: 40.6078987121582px;
  stroke-dashoffset: 40.6078987121582px;
  animation: line-anim 2s ease forwards;
}

#desktop-background line:nth-child(10){
  stroke-dasharray: 142px;
  stroke-dashoffset: 142px;
  animation: line-anim 2s ease forwards;
}

#desktop-background line:nth-child(11){
  stroke-dasharray: 114px;
  stroke-dashoffset: 114px;
  animation: line-anim 2s ease forwards;
}

#desktop-background line:nth-child(12){
  stroke-dasharray: 142px;
  stroke-dashoffset: 142px;
  animation: line-anim 2s ease forwards;
}

#desktop-background line:nth-child(13){
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: line-anim 2s ease forwards;
}

#desktop-background line:nth-child(14){
  stroke-dasharray: 58px;
  stroke-dashoffset: 58px;
  animation: line-anim 2s ease forwards;
}

#desktop-background line:nth-child(15){
  stroke-dasharray: 136px;
  stroke-dashoffset: 136px;
  animation: line-anim 2s ease forwards;
}

#desktop-background line:nth-child(16){
  stroke-dasharray: 179px;
  stroke-dashoffset: 179px;
  animation: line-anim 2s ease forwards;
}

#desktop-background line:nth-child(17){
  stroke-dasharray: 146px;
  stroke-dashoffset: 146px;
  animation: line-anim 2s ease forwards;
}

#desktop-background line:nth-child(18){
  stroke-dasharray: 146px;
  stroke-dashoffset: 146px;
  animation: line-anim 2s ease forwards;
}

#desktop-background line:nth-child(19){
  stroke-dasharray: 185px;
  stroke-dashoffset: 185px;
  animation: line-anim 2s ease forwards;
}

#desktop-background path:nth-child(2){
  stroke-dasharray: 1134.324951171875px;
  stroke-dashoffset: 1134.324951171875px;
  animation: line-anim 2s ease forwards;
}

#desktop-background path:nth-child(3){
  stroke-dasharray: 1137.32470703125px;
  stroke-dashoffset: 1137.32470703125px;
  animation: line-anim 2s ease forwards;
}

#desktop-background path:nth-child(7){
  stroke-dasharray: 1137.32470703125px;
  stroke-dashoffset: 1137.32470703125px;
  animation: line-anim 2s ease forwards;
}

#desktop-background path:nth-child(11){
  stroke-dasharray: 1137.32470703125px;
  stroke-dashoffset: 1137.32470703125px;
  animation: line-anim 2s ease forwards;
}

#desktop-background path:nth-child(15){
  stroke-dasharray: 1137.32470703125px;
  stroke-dashoffset: 1137.32470703125px;
  animation: line-anim 2s ease forwards;
}



/*#logo path:nth-child(1){
  stroke-dasharray: 1407.9925537109375px;
  stroke-dashoffset: 1407.9925537109375px;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2){
  stroke-dasharray: 1409.66748046875px;
  stroke-dashoffset: 1409.66748046875px;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(3){
  opacity: 0;
  animation: fade-in 4s ease forwards;
}
#logo line:nth-child(4){
  stroke-dasharray: 179px;
  stroke-dashoffset: 179px;
  animation: line-anim 2s ease forwards;
}
#logo line:nth-child(5){
  stroke-dasharray: 185px;
  stroke-dashoffset: 185px;
  animation: line-anim 2s ease forwards;
}
#logo line:nth-child(6){
  stroke-dasharray: 125px;
  stroke-dashoffset: 125px;
  animation: line-anim 2s ease forwards;
}
#logo line:nth-child(7){
  stroke-dasharray: 114px;
  stroke-dashoffset: 114px;
  animation: line-anim 2s ease forwards;
}
#logo line:nth-child(8){
  stroke-dasharray: 195px;
  stroke-dashoffset: 195px;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(9){
  stroke-dasharray: 95px;
  stroke-dashoffset: 95;
  animation: line-anim 2s ease forwards;
}
#logo line:nth-child(10){
  stroke-dasharray: 123px;
  stroke-dashoffset: 123px;
  animation: line-anim 2s ease forwards;
}
#logo line:nth-child(11){
  stroke-dasharray: 100px;
  stroke-dashoffset: 100px;
  animation: line-anim 2s ease forwards;
}
#logo line:nth-child(12){
  stroke-dasharray: 120px;
  stroke-dashoffset: 120px;
  animation: line-anim 2s ease forwards;
}
#logo line:nth-child(13){
  stroke-dasharray: 112px;
  stroke-dashoffset: 112px;
  animation: line-anim 2s ease forwards;
}
#logo line:nth-child(14){
  stroke-dasharray: 58px;
  stroke-dashoffset: 58px;
  animation: line-anim 2s ease forwards;
}
#logo line:nth-child(15){
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: line-anim 2s ease forwards;
}
#logo line:nth-child(16){
  stroke-dasharray: 148px;
  stroke-dashoffset: 148px;
  animation: line-anim 2s ease forwards;
}
#logo line:nth-child(17){
  stroke-dasharray: 146px;
  stroke-dashoffset: 146px;
  animation: line-anim 2s ease forwards;
}
#logo line:nth-child(18){
  stroke-dasharray: 136px;
  stroke-dashoffset: 136px;
  animation: line-anim 2s ease forwards;
}
#logo line:nth-child(19){
  stroke-dasharray: 165px;
  stroke-dashoffset: 165px;
  animation: line-anim 2s ease forwards;
}
#logo line:nth-child(22){
  stroke-dasharray: 142px;
  stroke-dashoffset: 142px;
  animation: line-anim 2s ease forwards;
}
#logo line:nth-child(25){
  stroke-dasharray: 142px;
  stroke-dashoffset: 142px;
  animation: line-anim 2s ease forwards;
}
#logo line:nth-child(28){
  stroke-dasharray: 142px;
  stroke-dashoffset: 142px;
  animation: line-anim 2s ease forwards;
}
#logo line:nth-child(25){
  stroke-dasharray: 142px;
  stroke-dashoffset: 142px;
  animation: line-anim 2s ease forwards;
}
*/