*{
  padding: 0px;
  margin: 0px;
  font-family:'Montserrat', sans-serif;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  background-color: #f3ff13;
  background-image: url("../Assets/Flat-Mountains.svg");
  background-attachment: fixed;
  background-size: cover;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  justify-content: stretch;
  align-items: stretch;
}

nav {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-image: url("../Assets/Randomized-Pattern.svg");
  background-attachment: fixed;
  background-size: cover;
  border-radius: 100px;
}

nav ul{
  display: flex;
  justify-content: space-around;
  width: 30%;
}

nav li{
  list-style: none;
}

nav a{
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
}

nav a:hover{
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.title_logo h1{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 24px;
  color: rgb(48, 49, 48);
}

.logo {
  width: 20%;
  height: 20%;
}

#game {
  grid-column: 5/5;
  border-style: groove;
  border-width: 5px;
  border-color: #5a9c3a;
  border-radius: 50px;
  max-height: 600px;
}

.ui{
  grid-column: 1/5;
  grid-row: 2/4;
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 20px;
  justify-content: center;
  border-radius: 50px;
  background: linear-gradient(to bottom, #ADFF7A, 70%, #6EA44C 100%);
  background-color: #96C52A;
  padding: 20px;
}

.ui label{
  float: left;
  font-weight: bold;
  font-size: 15px;
}

.ui span{
  display: block;
  overflow: hidden;
  padding: 0 4px 0 6px;
}

.ui input{
  width: 100%;
}

.ui button{
  box-shadow: 3px 4px 0px 0px #b0c4b1;
	background:linear-gradient(to bottom, #e8ffed 5%, #c9c9b9 100%);
	background-color:#e8ffed;
	border-radius:15px;
	border:1px solid #bad4c5;
	display:inline-block;
	cursor:pointer;
  color:#000000;
  font-weight: bold;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}

.ui button:hover {
  background:linear-gradient(to bottom, #c9c9b9 5%, #e8ffed 100%);
	background-color:#c9c9b9;
}

.ui button:active {
  position:relative;
	top:1px;
}

.game-information{
  grid-column: 6/-1;
  grid-row: 2/4;
  font-weight: bold;
  border-radius: 50px;
  background: linear-gradient(to bottom, #ADFF7A, 70%, #6EA44C 100%);
  background-color: #2AAA0D;
  padding: 25px;
}

.window-rules{
  grid-column: 5;
  font-weight: bold;
  border-radius: 50px;
  background: linear-gradient(to bottom, #ADFF7A, 70%, #6EA44C 100%);
  padding: 20px;
}