*{
  padding: 0px;
  margin: 0px;
  font-family:'Montserrat', sans-serif;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  background-color: #f3ff13;
  background-image: url("../Assets/Flat-Mountains.svg");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr, 30fr, 1fr;
  grid-gap: 20px;
  align-self: start;
  align-items: start;
  height: 100vh;
  width: 99%;
}

nav {
  grid-column: 1/-1;
  grid-row: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-image: url("../Assets/Randomized-Pattern.svg");
  background-attachment: fixed;
  background-size: cover;
  border-radius: 100px;
}

nav ul{
  display: flex;
  justify-content: space-around;
  width: 30%;
}

nav li{
  list-style: none;
}

nav a{
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: black;
}

nav a:hover{
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgb(164, 177, 149);
}

.title_logo h1{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 24px;
  color: rgb(48, 49, 48);
}

.logo {
  width: 20%;
  height: 20%;
}

#game {
  grid-column: 2/4;
  grid-row: 3/30;
  border-style: inset;
  border-width: 2px;
  border-radius: 10px;
  border-color: #5a9c3a;
  box-shadow: 3px 4px 0px 0px linear-gradient(to bottom,rgba(173, 255, 122, 1), 70%, rgba(110, 164, 76, 1) 100%);
  align-self: stretch;
}

.ui{
  grid-column: 1;
  grid-row: 3/5;
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 20px;
  justify-content: center;
  border-radius: 50px;
  background: linear-gradient(to bottom, rgba(173, 255, 122, 0.7), 70%, rgba(110, 164, 76, 0.8) 100%);
  background-color: transparent;
  padding: 20px;
}

.ui label{
  float: left;
  font-weight: bold;
  font-size: 15px;
}

.ui span{
  display: block;
  overflow: hidden;
  padding: 0 4px 0 6px;
}

.ui input{
  width: 100%;
}

.ui button{
  box-shadow: 3px 4px 0px 0px #6EA44C;
  background-color: transparent;
	border-radius:15px;
	border:2px solid #6EA44C;
	display:inline-block;
	cursor:pointer;
  color:#000000;
  font-weight: bold;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}

.ui button:hover {
  background:linear-gradient(to bottom, #c9c9b9 5%, #e8ffed 100%);
	background-color:#c9c9b9;
}

.ui button:active {
  position:relative;
  outline: none;
	top:1px;
}

.ui input[type=number]{
  border: 0;
  border-bottom: 3px solid #6EA44C;
  background: transparent;
}

input:focus{
  outline: none;
}

button:focus, input[type="button"]:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
}

.game-information{
  grid-column: 1;
  grid-row: 5/8;
  border-radius: 50px;
  background: linear-gradient(to bottom, rgba(173, 255, 122, 0.7), 70%, rgba(110, 164, 76, .8) 100%);
  background-color: transparent;
  padding: 25px;
}

.window-rules{
  grid-column: 1;
  grid-row: 8/31;
  font-weight: bold;
  border-radius: 50px;
  background: linear-gradient(to bottom, rgba(173, 255, 122, 0.7), 70%, rgba(110, 164, 76, .8) 100%);
  background-color: transparent;
  padding: 20px;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 1650px){
  #game{
    grid-row: 3/27;
    grid-column: 1/-1;
  }
  .ui{
    grid-row: 27/28;
    grid-column: 1/-1;
  }
  .game-information{
    grid-row: 28/29;
    grid-column: 1/-1;
  }
  .window-rules{
    grid-row: 29/31;
    grid-column: 1/-1;
  }
  nav ul{
    width: 60%;
  }
}